In [183]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set_style('darkgrid')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [184]:
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
import scipy.stats as stats
from sklearn.model_selection import train_test_split

In [185]:
df=pd.read_csv('data/kc_cleaned_data.csv')

df.drop(columns=['id', 'date', 'bedrooms', 'bathrooms', 'floors', 
                 'condition','sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode'], inplace=True)

In [186]:
log_lat= np.log(df['lat'])
df['lat']= log_lat

df['long'] = df['long'].abs()
log_long= np.log(df['long'])
df['long']=log_long

log_sqft_living = np.log(df['sqft_living'])
df['sqft_living'] = log_sqft_living

log_sqft_lot = np.log(df['sqft_lot'])
df['sqft_lot'] = log_sqft_lot

log_sqft_living15 = np.log(df['sqft_living15'])
df['sqft_living15'] = log_sqft_living15

log_sqft_lot15 = np.log(df['sqft_lot15'])
df['sqft_lot15'] = log_sqft_lot15

In [187]:
df.head()

,price,sqft_living,sqft_lot,waterfront,view,grade,lat,long,sqft_living15,sqft_lot15,has_basement,is_cust_build,years_since_renovated
0,221900.0,7.073270,8.639411,0.0,0.0,7,3.860965,4.806125,7.200425,8.639411,0,0,0.0
1,538000.0,7.851661,8.887653,0.0,0.0,7,3.865372,4.806632,7.432484,8.941022,1,0,29.0
2,180000.0,6.646391,9.210340,0.0,0.0,6,3.865726,4.805929,7.908387,8.994917,0,0,0.0
3,604000.0,7.580700,8.517193,0.0,0.0,7,3.861168,4.807237,7.215240,8.517193,1,0,0.0
4,510000.0,7.426549,8.997147,0.0,0.0,8,3.863186,4.804390,7.495542,8.923058,0,0,0.0

In [188]:
fig = sm.graphics.qqplot(model.resid, dist=stats.norm, line='45', fit=True)

NameError: name 'model' is not defined

# Model Code

In [211]:
X = df[['view', 'waterfront', 'has_basement', 'years_since_renovated', 'grade', 'sqft_living15']]
y = df['price']

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [213]:
ols = LinearRegression(fit_intercept=False, normalize=False)

In [214]:
res = ols.fit(X_train, y_train)
print(res)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None, normalize=False)

In [215]:
ols.score(X_train, y_train)

0.5074370179188581

In [216]:
ols.score(X_test, y_test)

0.506630698610641

# Test Model

In [217]:
x_sample = df.sample(n=1)
x_sample

,price,sqft_living,sqft_lot,waterfront,view,grade,lat,long,sqft_living15,sqft_lot15,has_basement,is_cust_build,years_since_renovated
13808,389000.0,7.783224,8.948976,0.0,0.0,7,3.865193,4.806739,7.333023,8.948976,1,0,0.0

In [218]:
def predict_price(x_sample):

    cols = ['view', 'waterfront', 'has_basement', 'years_since_renovated', 'grade', 'sqft_living15']
    target = 'price'

    x_sample_final = x_sample[cols]
    return(ols.predict(x_sample_final)[0])

def accuracy(sample_price, predicted):
    return sample_price - predicted

In [219]:
predicted = predict_price(x_sample)
print(predicted)

sample_price = x_sample.values[0][0]
print(sample_price)

459663.38428017305
389000.0

In [220]:
round(accuracy(sample_price, predicted), 2)

-70663.38

# Okay So Far

In [176]:
 ['view', 'waterfront', 'has_basement', 'years_since_renovated', 'grade', 'is_cust_build']

['view',
 'waterfront',
 'has_basement',
 'years_since_renovated',
 'grade',
 'is_cust_build']

In [221]:
# Check residuals

In [ ]:
# drop anything outside of 3stds