In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
import statsmodels.stats.api as sms

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

%matplotlib inline

In [216]:
unt_df = pd.read_csv('data/untransformed_data.csv')
print(unt_df.shape)

(16393, 19)

In [217]:
trans_df = pd.read_csv('data/transformed_data.csv')
print(trans_df.shape)

(16393, 19)

In [218]:
%store -r X
%store -r y

In [219]:
X.head()

   view  waterfront  has_basement  years_since_renovated  grade  sqft_living15
0   0.0         0.0             0                    0.0      7           1340
1   0.0         0.0             1                   29.0      7           1690
2   0.0         0.0             0                    0.0      6           2720
3   0.0         0.0             1                    0.0      7           1360
4   0.0         0.0             0                    0.0      8           1800

In [220]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

# Build Deployable Model

In [221]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [222]:
ols = LinearRegression(fit_intercept=False, normalize=False)

In [223]:
res = ols.fit(X_train, y_train)
print(res)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None, normalize=False)

In [224]:
ols.score(X_train, y_train)

0.3339628884919711

In [225]:
ols.score(X_test, y_test)

0.3232864567169996

# Test Model

In [226]:
x_sample = unt_df.sample(n=1)
x_sample

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,lat,long,sqft_living15,sqft_lot15,has_basement,is_cust_build,years_since_renovated
9596,575000.0,3,2.5,1760,2320,2.0,0.0,2.0,3,8,1760,0.0,47.5723,-122.376,1760,4698,0,0,0.0

In [227]:
def predict_price(x_sample):

    cols = ['view', 'waterfront', 'has_basement', 'years_since_renovated', 'grade', 'sqft_living15']
    target = 'price'

    x_sample_final = x_sample[cols]
    return(ols.predict(x_sample_final)[0])

def accuracy(sample_price, predicted):
    return sample_price - predicted

In [228]:
predicted = predict_price(x_sample)
print(predicted)

sample_price = x_sample.values[0][0]
print(sample_price)

577207.0057179714
575000.0

In [229]:
round(accuracy(sample_price, predicted), 2)

-2207.01

# Unlog

In [214]:
sample_price = np.exp(sample_price)
print(sample_price)

186000.00000000003